{% extends 'espace.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}

<h1>Nouvel utilisateur</h1>

{{ form_start(form) }}

    {{ form_row(form.nom) }}

    {{ form_row(form.prenom) }}

    {{ form_row(form.email) }}

    {{ form_row(form.password) }}

    {{ form_row(form.role_choice) }}

    {{ form_row(form.ajouter) }}

{{ form_end(form) }}

{% endblock %}
