{% extends 'espace.html.twig' %}

{% block title %}{{ utilisateur.nom }} {{ utilisateur.prenom }}{% endblock %}

{% block body %}

<h1>{{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>

<table>
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ utilisateur.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ utilisateur.prenom }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ utilisateur.email }}</td>
        </tr>
        <tr>
            <th>Rôle</th>
            <td>{{ utilisateur.mainRole }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
