<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>DC Consult - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('app_projets') }}">Nos projets</a></li>
                <li><a href="{{ path('app_clients') }}">Nos clients</a></li>
                <li><a href="{{ path('app_logiciels') }}">Logiciels</a></li>
                <li><a href="{{ path('app_contact') }}">Nous contacter</a></li>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_dashboard_admin') }}">Dashboard admin</a></li>
                    {% else %}
                        <li><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    <li><a href="{{ logout_path() }}">Deconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('app_connexion') }}">Se connecter</a></li>
                {% endif %}
            </ul>

            test
        </nav>
        
        {% block body %}
        {% endblock %}
    </body>
</html>
