<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>DC Consult - {% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('app_projets') }}">Nos projets</a></li>
                <li><a href="{{ path('app_clients') }}">Nos clients</a></li>
                <li><a href="{{ path('app_logiciels') }}">Logiciels</a></li>
                <li><a href="{{ path('app_contact') }}">Nous contacter</a></li>
            </ul>
        </nav>

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
            </div>
            
        {% else %}
            <ul>
                <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
            </ul>
        {% endif %}
            
        {% block body %}
        {% endblock %}
    </body>
</html>
